

<%= form_for @retina, url: wizard_path do |f| %>
  <p>
    <%= f.label :no_of_years, "Enter Years from now" %>
    <%= f.text_field :no_of_years, autofocus: true %>
  </p>

 <%#= f.submit 'Fetch Retina'     attr_accessor :retina_base_score %>
 <%= f.submit 'Next', :class => 'nextbtn' %>
 <%=  link_to 'Back', previous_wizard_path, :class => 'previousbtn' %>
 <% end %>
 <br><br>

<div class="footercontent">
<h3>Clinical parameters are:</h3>
<%= display_clinical_params(@retina) %>
</div>
