
<div id="content">
  <div class="login">


<%= form_for @retina, url: wizard_path do |f| %>

<br><br>
<center>

    <b><%= f.label :no_of_years, "Enter Years from now" %></b><br>
    <%= f.text_field :no_of_years, autofocus: true %>

  </center>
  <br><br>

 <%#= f.submit 'Fetch Retina'     attr_accessor :retina_base_score %>

 <%=  link_to 'Back', previous_wizard_path, :class => 'previousbtn' %>
 <%= f.submit 'Next', :class => 'nextbtn' %>

 <% end %>
</div>

<div class="footercontent">
<h3>Clinical parameters are:</h3>
<%= display_clinical_params(@retina) %>
</div>

</div>
