

<%= form_for @retina, url: wizard_path do |f| %> 
  <p>
    <%= f.label :good_follow_up, "Good follow-up, once in three months" %><br/>
    <%= f.select :good_follow_up, options_for_select([['No', 5], ['Yes', 0]]) %>
  </p>

 <%= f.submit 'Next' %>
 <%=  link_to 'Back', previous_wizard_path %>
<% end %>
<%= display_clinical_params(@retina) %>
<br>