

<%= form_for @retina, url: wizard_path do |f| %>
  <p>
    <%= f.label :good_follow_up, "Good follow-up, once in three months" %>
    <%= f.select :good_follow_up, options_for_select([['No', 5], ['Yes', 0]]) %>
  </p>

  <%= f.submit 'Next', :class => 'nextbtn' %>
  <%=  link_to 'Back', previous_wizard_path, :class => 'previousbtn' %>
  <% end %>
  <br><br>
  
<div class="footercontent">
<h3>Clinical parameters are:</h3>
<%= display_clinical_params(@retina) %>
</div>
