<h2>Tell us more about yourself</h2>

<%= form_for @retina, url: wizard_path do |f| %> 
  <p>
    <%= f.label :kidney_renal, "Renal Involvement" %><br/>
    <%= f.select :kidney_renal, options_for_select([['No', 0], ['Microalbumineuria', 1], ['Creatinine > 1.6', 2], ['Creatinine > 4', 3]]) %>
  </p>
  <p>
    <%#= f.label :kidney_creatinine %><br/>
    <%#= f.hidden_field :kidney_creatinine, size: 10 %>
    <%= f.hidden_field :kidney_creatinine, value: 1 %>
  </p>
  <p>
    <%#= f.label :kidney_micro_album %><br/>
    <%# f.hidden_field :kidney_micro_album, options_for_select([['Yes', 1], ['No', 0]]) %>
    <%= f.hidden_field :kidney_micro_album, value: 1 %>
  </p>
 <%= f.submit 'Next' %>
<% end %>