

<%= form_for @retina, url: wizard_path do |f| %> 
  <p>
    <%= f.label :no_of_years, "Enter Years from now" %><br/>
    <%= f.text_field :no_of_years, autofocus: true %>
  </p>

    <p>
    <%= f.label :retina_base_score, "Base / Reference Retina Score" %><br/>
    <%= f.text_field :retina_base_score %>
  </p>

 <%#= f.submit 'Fetch Retina'     attr_accessor :retina_base_score %>
  <%= f.submit 'Submit' %>
<%=  link_to 'Back', previous_wizard_path %>
<% end %>
<br><br>
Clinical parameters are:
<br><br>
<%= display_clinical_params(@retina) %>
<br>
