
<%= form_for @retina, url: wizard_path do |f| %> 
  
<p>
    <%= f.label :lipid_profile, "Serum Cholesterol" %> <br>
    <%= f.text_field :lipid_profile, autofocus: true %>
</p>

<%= f.submit 'Next' %>
<%=  link_to 'Back', new_retina_path %>
<% end %>

<br><br>
Clinical parameters are:
<br><br>
HbA1c : <%= @retina.hba1c %>
<br>
