<h2>Tell us about your smoking habits</h2>

<%= form_for @retina, url: wizard_path do |f| %> 
   <p>
    <%= f.label :smoking, "Smoking" %><br/>
    <%= f.select :smoking, options_for_select([['No', 0], ['Yes', 1], ['Related lung disease', 2]]) %>
  </p>

    <p>
    <%= f.hidden_field :smoking_related_lung_disease, value: 1 %>
  </p>

 <%= f.submit 'Next' %>
<% end %>

