<a href="<%= root_path%>"> Home </a> <br> 
<%= form_for(@retina) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
 <%= @retina.errors.full_messages.to_sentence %>
  <p>
    <%= f.label :hba1c, "HbA1c" %><br/>
    <%= f.text_field :hba1c %>
  </p>
  
    <%= f.submit 'Continue' %> 
<% end %>
