
<%= form_for(@retina) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
 <%= @retina.errors.full_messages.to_sentence %>
  <p class="content_text">
    <%= f.label :hba1c, "HbA1c", autofocus: true %>
    <%= f.text_field :hba1c, value: session[:hba1c]  %>
  </p>

    <%= f.submit 'Next', :class => 'nextbtn' %>
    <%=  link_to 'Home', root_path, :class => 'previousbtn' %>
<% end %>
