
<%= form_for(@retina) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
 <%= @retina.errors.full_messages.to_sentence %>
  <p>
    <%= f.label :hba1c, "HbA1c", autofocus: true %><br/>
    <%= f.text_field :hba1c %>
  </p>
  
    <%= f.submit 'Next' %> 
    <%=  link_to 'Home', root_path %>
<% end %>
