



<head>
<link rel="stylesheet" type="text/css" href="img_gallery_style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {font-family: Arial, Helvetica, sans-serif;}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 10%;
    top: 0;
    width: 80%; /* Full width */
    height: 75%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Modal Content Previous Button */
.img_prevbtn1{
  position: absolute;
     width: 50px;
    height: 50px;
    margin-top: -250px;
    margin-left: 200px;
      float: left;
  color: #f1f1f1;
  font-weight: bold;
  text-align: center;
  font-size:40px;
}
.img_prevbtn1:hover{
  color: #bbb;
  text-decoration: none;
   cursor: pointer;
}
/* Modal Content Next Button */
.img_nextbtn1{
  position: absolute;
     width: 50px;
    height: 50px;
    margin-top: -250px;
    margin-left: 950px;
    float: right;
  color: #f1f1f1;
  font-weight: bold;
   font-size:40px;
   text-align:center;
}
.img_nextbtn1:hover{
  color: #bbb;
  text-decoration: none;
   cursor: pointer;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close1 {
    position: absolute;
    top: 25px;
    right: 55px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
.myImg1{
	border-radius: 5px;
    cursor: pointer;
}
</style>
</head>
<% @future_retina = session[:retina_base_score].to_i + (@retina.calculate_score * session[:no_of_years].to_i) %>
<% @future_retina>100? @future_retina=100 : @future_retina; %>
<!--
<body  onLoad="displaymodal1(<%= session[:retina_base_score] %>,<%= @future_retina.to_i %>, <%= session[:no_of_years] %>);">
-->
<body onLoad="displaymodal1(<%= session[:retina_base_score] %>,<%= @future_retina.to_i %>, <%= session[:no_of_years] %>);">
    <div id="content">
<%=  link_to 'Home', root_path, :class => 'previousbtnend' %>
<%=  link_to  'Update', edit_retina_path, :class => 'previousbtnend' %>
    <center>
<img src="" id="imgdemo1" width="45%" title="Current Retina Image" onMouseClick="final_displaymodal(<%= session[:retina_base_score] %>);">
<img src="" id="imgdemo2" width="45%" title="Future Retina Image" onMouseClick="final_displaymodal(<%= @future_retina.to_i %>);"> <br><br></center>
</div>
<!-- The Modal-->
<div id="myModal" class="modal">
  <img class="modal-content" id="img01">
  <span class="close1">Close &times;</span>
  <div id="caption"></div>
</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');
var modalimg = document.getElementsByClassName("myImg1");
var modalImg1 = document.getElementById("imgdemo1");
var modalImg2 = document.getElementById("imgdemo2");
var imgnum=0;
var imgnum2=0;
var yrs=0;
function displaymodal1(i1,j1,yr){
	imgnum0=i1;
	imgnum1=j1;
  yrs=yr;
    //modal.style.display = "block";
    //modalImg.src = this.src;
	modalImg1.src = "/assets/originals/" + imgnum0 + ".jpg";
  //modalImg1.title=imgnum0;
  modalImg2.src = "/assets/originals/" + imgnum1 + ".jpg";
  //modalImg2.title=imgnum1;
    //captionText.innerHTML = " CURRENT RETINA IMAGE ";
}
function final_displaymodal(i){
	imgnum=i;
  modal.style.display = "block";
  //modalImg.src = this.src;
	modalImg.src = "/assets/originals/" + i + ".jpg";
    //captionText.innerHTML = "Retina - Image - " +i;
}
/*
var captionText = document.getElementById("caption");
var previmg1 = document.getElementsByClassName("img_prevbtn1")[0];
previmg1.onclick = function() {
	captionText.innerHTML = " CURRENT RETINA IMAGE ";
	modalImg.src = "/assets/originals/" + imgnum0 + ".jpg";
    modal.style.display = "block";
}
var nxtimg1 = document.getElementsByClassName("img_nextbtn1")[0];
nxtimg1.onclick = function() {
	captionText.innerHTML = "FUTURE RETINA IMAGE AFTER " + yrs + " YEARS " + ;
	modalImg.src = "/assets/originals/" + imgnum1 + ".jpg";
}
// Get the <span> element that closes the modal
//var span = document.getElementsByClassName("close")[0];
*/
// When the user clicks on <span> (x), close the modal
var closeimg = document.getElementsByClassName("close1")[0];
closeimg.onclick = function() {
    modal.style.display = "none";
}
</script>
</body>
<!--
<br>
<script>
/*
$("#pop").on("click", function() {
   $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
});
*/
</script>
<a href="<%= root_path%>"> Home </a> <br>
The Score for the below clinical data is: <%= @score = @retina.calculate_score %>
<% @year_count=session[:no_of_years].to_i %>
<br><br>
<a href="#imagemodal" data-toggle="modal"> Click to see the Retina Images </a>
<%= lightbox_tag(image_path("/assets/originals/1o_tn.jpg"),
              image_path("/assets/originals/" + (session[:retina_base_score]) + ".jpg"), title="New Image", collection=nil, html_options = {"width" => "450", "height" => "350"}) %>
<br><br>
Clinical parameters are:<br>
<p>------------------------</p>
<%= display_clinical_params(@retina) %>
<a href="<%= new_retina_path %>">Click to enter new clinical data set </a>
-->
<!-- Creates the bootstrap modal where the image will appear -->
<!--
<div class="modal fade" id="imagemodal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4> Retina Image </h4>
      </div>
      <div class="modal-body">
      <table>
      <tr>
      <th>Current Retina</th>
      <td>
        <img id="imageresource" src="<%= image_path("/assets/originals/" + (session[:retina_base_score]) + ".jpg") %>" alt="--No Retina Image to Display--" width="450" height="350">
      </td>
      <th>Future Retina</th>
      <td>
        <img id="imageresource" src="<%= image_path("/assets/originals/" + (session[:retina_base_score].to_i + @score * @year_count).to_i.to_s + ".jpg") %>" alt="--No Retina Image to Display--" width="450" height="350">
      </td>
      </tr>
      </table>
      </div>
      <div class="modal-footer">
        <h4> Disclaimer </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#imagemodal">Close</button>
      </div>
    </div>
  </div>
</div>
-->
