

<br><br><br>

The Score for the below clinical data is: <%= @score = @retina.calculate_score %>

<br><br><br>

<% @year_count=2  %> 

<a href="<%= new_retina_path %>">Enter new data set </a>

<table>                         
  <tr>                          
    <th>Year from now</th>
    <th>Retina Image</th>
  </tr>

<%# #start loop %>
<% while (@score*@year_count) < 100  %>      
  <tr>
    <td><%= (@year_count-1) %></td>  
    <td><a href="<%= image_path("100retinas/#{(@score.to_i)*@year_count}o.jpg") %>">Click here</a> </td>  
  </tr>
  <% @year_count = @year_count + 1 %>

<%# end loop %>
<% end %>                        
</table>

<br><br><br>
Retina clinical parameters are:
<br><br>
HbA1c : <%= @retina.hba1c %>
<br>
Lipid Profile : <%= @retina.lipid_profile %>
<br>
Kidney Renal Involvement : <%= @retina.kidney_renal %>
<br>
Kidney Micro Albumineuria : <%= @retina.kidney_micro_album %>
<br>
Kidney Creatinine : <%= @retina.kidney_creatinine %>
<br>
Smoking : <%= @retina.smoking %>
<br>
Smoking related lung disease : <%= @retina.smoking_related_lung_disease %>
<br>
Diabetic Score : <%= @retina.diabetic_duration %> 
<br>
CAD/Stroke: <%= @retina.cad_stroke %>
<br>
Good follow-up: <%= @retina.good_follow_up %>

