<br>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    th {
      text-align: center;
    }
}
</style>

<a href="<%= root_path%>"> Home </a> <br> 

The Score for the below clinical data is: <%= @score = @retina.calculate_score %>

<% @year_count=session[:no_of_years].to_i %> 

<br>
<img src="<%= image_path("100retinas/" + (@score * @year_count).to_i.to_s + "o.jpg") %>"height="650" width="650"/> 

<br>
Clinical parameters are:
<br><br>
HbA1c : <%= @retina.hba1c %>
<br>
Lipid Profile : <%= @retina.lipid_profile %>
<br>
Kidney Renal Involvement : <%= @retina.kidney_renal %>
<br>
Kidney Micro Albumineuria : <%= @retina.kidney_micro_album %>
<br>
Kidney Creatinine : <%= @retina.kidney_creatinine %>
<br>
Smoking : <%= @retina.smoking %>
<br>
Smoking related lung disease : <%= @retina.smoking_related_lung_disease %>
<br>
Diabetic Score : <%= @retina.diabetic_duration %> 
<br>
CAD/Stroke: <%= @retina.cad_stroke %>
<br>
Good follow-up: <%= @retina.good_follow_up %>
<br><br>
<a href="<%= new_retina_path %>">Click to enter new clinical data set </a>
