<br>

<script>
$("#pop").on("click", function() {
   $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
});
</script>

<a href="<%= root_path%>"> Home </a> <br>

The Score for the below clinical data is: <%= @score = @retina.calculate_score %>

<% @year_count=session[:no_of_years].to_i %>
<br><br>


<a href="#imagemodal" data-toggle="modal"> Click to see the Retina Images </a>

<%= lightbox_tag(image_path("/assets/originals/1o_tn.jpg"),
              image_path("/assets/originals/" + (session[:retina_base_score]) + ".jpg"), title="New Image", collection=nil, html_options = {"width" => "450", "height" => "350"}) %>

<br><br>
Clinical parameters are:<br>

<p>------------------------</p>

<%= display_clinical_params(@retina) %>

<a href="<%= new_retina_path %>">Click to enter new clinical data set </a>


<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4> Retina Image </h4>
      </div>
      <div class="modal-body">
      <table>
      <tr>
      <th>Current Retina</th>
      <td>
        <img id="imageresource" src="<%= image_path("/assets/originals/" + (session[:retina_base_score]) + ".jpg") %>" alt="--No Retina Image to Display--" width="450" height="350">
      </td>
      <th>Future Retina</th>
      <td>
        <img id="imageresource" src="<%= image_path("/assets/originals/" + (session[:retina_base_score].to_i + @score * @year_count).to_i.to_s + ".jpg") %>" alt="--No Retina Image to Display--" width="450" height="350">
      </td>
      </tr>
      </table>

      </div>
      <div class="modal-footer">
        <h4> Disclaimer </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#imagemodal">Close</button>

      </div>
    </div>
  </div>
</div>
