	<!DOCTYPE html>
<html>
  <head>
    <title>Rhc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
		<div id="header">
    	<div class="amrita_logo"><img src="<%= asset_path('amrita_logo.jpg') %>" /></div>
        <div class="eye_logo"><img src="<%= asset_path('retina.jpg') %>"></div>
    </div>
<!--
		<div id="content">
			<div class="form_element">
-->
			<%= yield %>
<!--	
			</div>
	</div>
-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
